bin
dist
node_modules
*storybook.log
storybook-static

.crush/
.env

/.plan/*

# Rust target dir
src-tauri/target/

# Tauri build artifacts
src-tauri/src-tauri/target/
src-tauri/.cargo/
src-tauri/.tauri/
src-tauri/gen/
/target

# OS
.DS_Store

# log db
logs.duckdb
